<div class="modal fade" id="updateNameModal" tabindex="-1" role="dialog" aria-labelledby="updateNameModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header background-color-primary">
        <h5 class="modal-title">
            <i class="material-icons">
              create
            </i>
            <span class="ml-1">
              Modifier votre nom
            </span>
          </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="currentUser">
        <form *ngIf="userNameForm" [formGroup]="userNameForm" (ngSubmit)="updateNameUser()">
          <div class="form-group">
            <label for="input-update-firstname">Prénom</label>
            <input id="input-update-firstname" formControlName="firstnameUser" class="form-control" type="text" value="{{currentUser.firstnameUser}}"/>
          </div>
          <div class="form-group">
              <label for="input-update-lastname">Nom</label>
              <input id="input-update-lastname" formControlName="lastnameUser" class="form-control" type="text" value="{{currentUser.lastnameUser}}"/>
          </div>
          <button [disabled]="userNameForm.invalid" class="btn background-color-primary d-block mt-3 mx-auto">
            Modifier
          </button>
        </form>
      </div>
    </div>
  </div>
</div>