  <div class="modal fade" id="leaveColocModal" tabindex="-1" role="dialog" aria-labelledby="leaveColocModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header background-color-primary">
          <h5 class="modal-title" id="leaveColocModalTitle">
              <i class="material-icons">
                warning
              </i>
              <span class="ml-1">
                Attention !
              </span>
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Voulez vous vraiment quitter cette colocation ? Cette action est irréversible ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-confirm background-color-primary" (click)="leave.next()" data-dismiss="modal">Confirmer</button>
        </div>
      </div>
    </div>
  </div>