<div class="mx-2">
    <div [@content]="currentState" class="signup-container background-content mx-auto box-shad">
        <div class="banner-wrapper">
            <div class="banner-text">
                <i class="material-icons">
                  assignment
                </i>
              Inscription
            </div>
          </div>
          <div class="p-3">
            <form [formGroup]="formSignup">
              <div class="form-group">
                <label for="firstname-co">Prénom</label>
                <input id="firstname-co" formControlName="firstnameUser" type="text" class="form-control" placeholder="Prénom">
              </div>
              <div class="form-group">
                <label for="lastname-co">Nom</label>
                <input id="lastname-co" formControlName="lastnameUser" type="text" class="form-control" placeholder="Nom">
              </div>
              <div class="form-group">
                <label for="email-co">Adresse mail</label>
                <input email id="email-co" formControlName="emailUser" type="email" class="form-control" placeholder="Adresse mail">
              </div>
              <div class="form-group">
                <label for="password-co">Mot de passe</label>
                <input id="password-co" formControlName="passwordUser" type="password" class="form-control" placeholder="Mot de passe">
              </div>
              <div *ngIf="error" class="error text-center mb-2">{{error}}</div>
              <button [disabled]="formSignup.invalid" (click)="submit()" class="btn btn-send mr-auto d-block mx-auto">S'inscrire</button>
            </form>
          </div>
      </div>
  </div>