.material-icons{
    display: inline-flex;
    vertical-align: top;
  }

form{
    display:flex;
    flex-direction: row;
}

.form-group{
    margin-bottom: 0;
}

.btn-add{
    color: white;
    border-radius: 0px 3px 3px 0px;
}

#input-add-coloc{
    border-radius: 3px 0px 0px 3px;
    flex:auto;
}