a{
  color : #b2bbbd!important;
}

a.active{
  color : white!important;
}

.navbar-toggler-icon{
  color : white;
}

button{
  outline: 0;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}